<h2>Recipes</h2>
<div>
    {{#each recipe}}
    <div>
      <img src="{{image}}" alt="{{title}}"> 
      <p>
        <a href="/recipes/{{id}}">{{title}}</a>
      </p> 
    </div>
    {{/each}}
</div>
